<div class="row">
  <div class="col-md-12">
    <h3 class="float-left">New Course</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="courseName">Name</label>
        <input type="input" class="form-control" id="courseName" formControlName="name" placeholder="enter course name..." [(ngModel)]="course.name" required>
      </div>
      <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="submitForm()">Submit</button>
    </form>
  </div>
</div>
